# Editor files
*.sw[a-p]
*~
\#*\#

# Build directory
/*build*/
/out/

# IDE files
/.idea/
/.cproject
/.project
/.settings/

# Local CMake presets
/CMakeUserPresets.json

# python
__pycache__/

# direnv files
/.envrc
