# Source files
*.cpp     text diff=cpp
*.hpp     text diff=cpp
*.cpp.in  text diff=cpp
*.hpp.in  text diff=cpp
*.py      text diff=python

# CMake
*.txt   text
*.cmake text

# Documentation
*.md text

# CMake presets
*.json text

# Other
LICENSE         text
.pylintrc       text
.flake8         text
.gitignore      text
.gitattributes  text
.clang-tidy     text
.clang-format   text

# Fallback
* text=auto
